* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

body {
    font-family: 'IBM Plex Mono';
    font-size: 16px;
    color: #222222;
    font-weight: 500;
    display: flex;
}

p {
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}
