* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --grey-800: #222222;
    --grey-600: #484848;
    --grey-400: #828282;
    --grey-200: #d0d0d0;
    --grey-100: #f0f0f0;
    --blue-mid: #589ae0;
    --blue-light: #9bcbff;
    --pink-light: #ffaeae;
    --yellow-light: #ffe375;
}

html {
    overscroll-behavior: none;
}

body {
    /* background: #FFF6EF; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    font-family: "Outfit";
    color: var(--grey-600);
    padding: 4em;
    font-size: 16px;
    line-height: 24px;
    overscroll-behavior: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--grey-800);
    font-weight: 500;
    margin: 0;
}

h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 12px;
}

h3 {
    font-size: 24px;
    line-height: 36px;
}

h4 {
    font-size: 20px;
    line-height: 26px;
}

a {
    text-decoration: none;
}

section {
    max-width: 850px;
}

.section-title {
    padding-bottom: 12px;
    border-bottom: 2px solid var(--grey-800);
    display: inline-block;
}

.p-large {
    font-size: 18px;
    line-height: 28px;
}

.button {
    font-family: "IBM Plex Mono";
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    padding: 12px 20px;
}

.button:hover {
    background: #ffffff;
    border: 1px solid var(--grey-800);
    color: var(--grey-800);
}

.button-dark {
    background: var(--grey-800);
    border: 1px solid var(--grey-800);
    color: #ffffff;
}

.button-light {
    background: var(--grey-100);
    border: 1px solid var(--grey-100);
    color: var(--grey-800);
}

/* HERO SECTION */

#hero {
    margin-bottom: 64px;
}

#links {
    margin-bottom: 32px;
}

#links a {
    color: var(--blue-mid);
    font-size: 14px;
    margin-right: 8px;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--blue-mid);
}

#links a:hover {
    color: var(--grey-800);
    border-bottom: 1px solid var(--grey-800);
}

#hero > .button-dark {
    display: inline-block;
    margin-top: 16px;
}

/* PRODUCT SECTION */

#prod-showcase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
    margin: 40px 0 80px 0;
}

.prod-container {
    display: flex;
    flex-direction: row;
    flex: 1 1 0px;
}

.prod-sidebar {
    display: flex;
    width: 36px;
    margin-right: 20px;
    flex-direction: column;
    justify-content: center;
}

.count-badge {
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: grey;
    color: var(--grey-800);
    font-size: 12px;
    font-family: "IBM Plex Mono";
    font-weight: 500;
    margin-bottom: 12px;
}

.badge-1 {
    background: var(--pink-light);
}

.badge-2 {
    background: var(--yellow-light);
}

.badge-3 {
    background: var(--blue-light);
}

.separator {
    flex-grow: 3;
    width: 2px;
    background: var(--grey-100);
    margin: 0 auto;
}

.prod-overview h4 {
    margin-bottom: 8px;
}

.prod-overview > .button {
    display: inline-block;
    margin-top: 20px;
}

.prod-details {
    color: var(--grey-400);
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
}

.prod-slug {
    display: inline-block;
}

.prod-slug p {
    font-size: 14px;
    line-height: 20px;
}

/* Media Queries */

@media (max-width: 800px) {
    body {
        align-items: flex-start;
    }
    #prod-showcase {
        flex-direction: column;
    }
    .prod-slug {
        display: block;
    }
    .prod-slug p {
        margin-bottom: 0;
    }
}
